body,h1,h2,h3,h4,h5,h6,p,a,img,form,input,select,figure,figcaption,ul,li,ol,dl,dt,dd,table,tr,th,td,thead,tbody,tfoot{
	margin: 0;
	padding: 0;
}

html {
    font-size: 16px;
}

.l{float:left;}
.r{float:right;}
.w{width:900px;margin:0 auto;}

body {
    font-family: "方正悠黑 508R W", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;}

ul,ol{list-style-type: none;}

a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    background-color: transparent;
}

input{outline: none;}
b{font-weight: 100;}


@media (max-width: 768px){
	header nav{
        margin: 0;
        max-height:44px;
        transition:max-height 0.35s ease;
    }
    body>header>aside#phone section{
         width:auto;
         padding:0;
     }
}
@media (min-width: 768px) and (max-width: 1024px){
	body>header>nav>ul>li>a{
        margin: 0 5px;
    }
}
@media (max-width: 890px){
	body>header>nav>ul>li>a{
        padding:0 3.33333px;
    }
}
@media screen and (max-width: 1260px){
	header nav{
        width: auto;
        margin:0 30px;
	}
	body>header>nav>section aside{right:5px;margin-right:-25px;}
}
@media screen and (min-width: 1260px){
	header nav{
        margin:0 auto;width:1200px;
	}
}
@media (min-width: 1260px) and (max-width: 1460px){
    body>header>nav>section aside{right:5px;margin-right:-40%;}
}
@media (max-width: 1440px){
    body>header>aside#phone section{
        width:958px;
        padding:25px 0;
    }
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}


body{overflow-x: hidden;}
body span.gray{position:absolute;width:12000px;height:12000px;
	background-color:rgba(0,0,0,0.3);z-index:3;display:none;}

/*=================header===================*/
header{position:absolute;width:100%;transition:0.5s;z-index:4;}
header>nav{position:relative;height:60px;text-align: center;}

header>nav h1{position:absolute;left:0;top:0;width:146px;height:100%;text-align: center;padding-top:3px;}
header>nav h1 a{display:flex;height:100%;box-sizing:border-box;}
header>nav h1 a svg{font-size:106px;height:17px;color:#fff;line-height: 6px;padding:0 20px;margin: -25px 0;}
header>nav>ul{height:60px;display: inline-block;}
header>nav>ul>li{float:left;height:100%;text-align:center;vertical-align: middle;box-sizing:border-box;}
header>nav>ul>li>a{display:inline-block;height:100%;margin:0 15px;padding:0 10px;
    font-size:15px;transition: 0.5s;color:#fff;line-height: 60px;z-index:0;}
header>nav>ul>li:hover>a{color:rgba(255,255,255,0.7);}


/*================手机==================*/
header>aside#phone{position:absolute;width:100%;top:60px;background:#eee;display: none;}
header>aside#phone section{padding:30px 0 72px;width: 1200px;margin:0 auto;}
header>aside#phone section::after{content:"";display: block;clear: both;}
/*=================左侧图====================*/
header>aside#phone section>figure{position:relative;width:370px;height:285px;margin-right:9px;}
header>aside#phone section>figure a{position:absolute;width:370px;height:285px;overflow: hidden;}
header>aside#phone section>figure a img{width:100%;height:100%;position:absolute;transition:1s;}
header>aside#phone section>figure.l:hover img:first-child{transform: scale(1.06);}
header>aside#phone section>ul.l{width:588px;margin-right: -10px}
header>aside#phone section>ul.l li{float:left;position: relative;
    margin-right:9px;margin-bottom:9px;background: white;overflow:hidden;}
header>aside#phone section>ul.l li a{display:block;}
header>aside#phone section>ul.l li a figure{width:138px;height:138px;overflow: hidden;}
header>aside#phone section>ul.l li a figure img{height:auto;width:100%;position: absolute;left: 0;top: 0;
    transition:0.6s;}
header>aside#phone section>ul.l li:hover a figure>img{top:4px;}
header>aside#phone section>ul.l li:hover a figure i img{top:-4px}
header>aside#phone section>ul.l li a h3{width:100%;text-align: center;bottom:11px;font-size:14px;
    position: absolute;}

/*==================购物袋i==================*/
header>nav>section{position:absolute;right:0;top:0;height:100%;}
header>nav>section i{display:inline-block;cursor:pointer;font-size:25px;padding:0 10px;line-height: 60px;color:#fff;vertical-align: middle;}
header>nav>section em{position:absolute;right:50%;margin-right:-10px;top:55px;
    width:0px;height:0px;border:10px solid transparent;border-top-color: white;border-left-color: white;transform:rotate(45deg);
    box-shadow:-2px -2px 2px rgba(0,0,0,0.1);z-index:10;display:none;}
header>nav>section aside{position:absolute;right:-110px;margin-right:0;top:65px;background:white;
	border-radius:3px;box-shadow:0px 2px 10px rgba(0,0,0,0.3),2px 2px 10px rgba(0,0,0,0.3),-2px 2px 10px rgba(0,0,0,0.3);
	overflow:hidden;z-index:9;display:none;}
header>nav>section aside ul{width:270px;padding :10px 0;text-align: left;}
header>nav>section aside ul li{margin: 0 28px;padding:18px 0;border-bottom:1px rgba(0,0,0,0.082) solid;}
header>nav>section aside ul li:last-of-type{border-bottom:0px;}
header>nav>section aside ul li a{line-height:25px;transition:all 0.3s;}
header>nav>section aside ul li:hover a{color:rgba(61,61,61,0.5);}
header>nav>section aside ul li a b{margin: 0 20px 0 10px;font-size:25px;}
header>nav>section aside ul li a span{font-size:15px;line-height:25px;}

body>header>nav>ul>li>a:hover{opacity:0.6}
body>header>nav>section>i:hover{opacity:0.6}